name: Build and Push Release
on:
  release:
    types: [published, released, edited]
jobs:
  build-and-push:
    name: Build and push to quay.io
    runs-on: ubuntu-latest 
    steps:
      - name: git checkout
        uses: actions/checkout@v3
      - name: Get the release version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      -
        name: Set up QEMU for multiplatform builds
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Quay Hub
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ${{ defaultContext }}/webapp
          file: ${{ context }}/containers/Containerfile
          push: true
          tags: |
            quay.io/jasonredhat/rhde-demo:${{ steps.get_version.outputs.VERSION }}
